{% extends 'student_base.html' %} 

{% load static %}

{% block content %}
{% if not request.session.email %}
<script>
    alert("you have to login first");location.href="/login/"
</script>
{% endif %}
<div class="row heading my-3">
<div class="text-center fs-3">Video <b class="text-mycolor1"> Lecture
     <i class="fa-solid fa-key"></i></b>
     <hr class="w-25 mx-auto">
     Our video lectures allow you to learn at your own pace and time.
    </div>

</div>
<!--heading end-->
<div class="row">
    <div class="col-sm-12 mx-auto shadow-lg my-3">
        <div class="row">
            {% for r in vdo %}
            <div class="col-sm-6">
                 <!-- start lecture card-->

        <div class="card mb-3 border-0 shadow-lg my-2">
  <div class="row g-0">
    <div class="col-md-4">
     <iframe class="img-thumbnail" src="{{r.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="col-md-8">

        
      <div class="card-body">
        <h5 class="card-title">{{r.title}}</h5>
        <p class="card-text">{{r.video_info | slice:200}}</p>
        <p class="card-text"><small class="text-body-secondary">
          <b>
          <i class="fa-solid fa-calendar bg-mycolor1"></i> Posted Date:</b>{{r.posted_date}}</small>
          <span class="badge bg-mycolor1 float-end text-light">{{r.category}}</span>
      </div>
    
    </div>
  </div>
</div>

        <!-- end lecture card-->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 