{% extends 'student_base.html' %} 

{% load static %}

{% block content %}
{% if not request.session.email %}
<script>
    alert("you have to login first");location.href="/login/"
</script>
{% endif %}
<div class="row heading my-3">
<div class="text-center fs-3">lectures <b class="text-mycolor1"> Category
     <i class="fa-solid fa-graduation-cap"></i></b>
     <hr class="w-25 mx-auto">
     We Believe To Make IT Industry More Reliable For People.
    </div>

</div>
<!--heading end-->
<div class="row">
    <div class="col-sm-10 bg-light mx-auto">
        <div class="row">
            {% for r in categories %}
            <!--category start-->
            <div class="col-sm-3 p-1">
               
            <div class="card shadow-lg p-3 mb-3 border-0" style="position: relative;">
                 <span class="position-absolute top-0 start-50 translate-middle btn text-light fs-5 bg-mycolor1">{{r.title}}</span>
                
               <a href="/student/lectures?cid={{r.id}}"> <img class="card-img-top" src="/{{r.picture}}"></a>
               
            </div>
            </div>
            <!--end category-->
             {% endfor %}             
        </div>
    </div>
</div>

{% endblock %} 