{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row py-2">
    <p class="fs-3 text-center">Contact<b class="text-mycolor1">Us</b></p>
    <div class="col-sm-8 mx-auto">
        <div class="row py-3">
            <div class="col-sm-6 contact p-5">
 
                  <form method="post">
                    {% csrf_token %} 
                    
                <input type="text" class="form-control txt" required placeholder="Name.." name="name"/>
                  
                
                <input type="email" class="form-control txt" required placeholder="Email.." name="email"/>

                
                <input type="number" class="form-control txt" required placeholder="Mob.." name="mob"/>
                <textarea class="form-control ta" required placeholder="Message" name="msg"></textarea>
                <input type="submit" value="Save" class="form-control bg-mycolor1 btn1"/>
                  </form>
            </div>
            <div class="col-sm-6 bgcontact p-5">
               <p class="fs-5 text-light">Contact <b class="text-mycolor1">Address :</b></p>
               <p class="text-light"><i class="fa-solid fa-location-dot"></i>vill+post=Majha khurd Vidyabhawn Naranpura Ballia 277213 up</p>
               <p class="text-light"><i class="fa-solid fa-phone"></i> +91-7523842597</p>
               <p class="text-light"><i class="fa-solid fa-phone"></i> +91-7523842597</p>
               <p>
    
    <a href="https://www.linkedin.com/in/sudha-maurya-89817a375?utm_source=share_via&utm_content=profile&utm_medium=member_android" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://youtube.com/@study_sparkofficial?si=QC9pnbBiDBmivZWb" target="_blank">
        <i class="fa-brands fa-youtube"></i>
    </a>
</p>

            </div>
        </div>
    </div>
</div>

{% endblock %} 