{% extends 'base.html' %} 

{% load static %}

{% block content %}
<style>
    .lic
    {
        height: 65px;
        width: 65px;
        text-align: center !important;
        line-height: 65px;

    }
    .btn1
    {
        height: 65px !important;

    }
</style>

<div class="row heading my-3">
<div class="text-center fs-3">Sign <b class="text-mycolor1"> In
     <i class="fa-solid fa-right-to-bracket"></i></b>
     <hr class="w-25 mx-auto">
    <b> Access Your Acount</b>
    </div>

</div>
<!--heading end-->
<div class="row">
    <div class="col-sm-5 mx-auto">
        <form method="post">
            {% csrf_token %} 
        USERID
        <div class="input-group mb-3 shadow-lg">
            <i class="input-group-text lic bg-mycolor1 text-light">
           <i class="fa-solid fa-user"></i>
            </i>
            <input type="email" name="email" class="form-control" required placeholder="USERID.."/>
        
    </div>
    Password
        <div class="input-group mb-3 shadow-lg">
      
            <i class="input-group-text lic bg-mycolor1 text-light">
                <i class="fa-solid fa-key"></i>
            </i>
            <input type="password" name="passwd" class="form-control" placeholder="password.." required/>
        </div>
        <input type="submit" value="LOGIN" class="form-control bg-mycolor1 text-light btn1"/>
        </form>
        </div>

</div>
{% endblock %} 