{% extends 'base.html' %} 

{% load static %}

{% block content %}
<style>
    ::placeholder
    {
        color: black !important;
    }
    .form-control
    {
        height: 55px;
        border: none !important; 
        background: #eceeec !important; 
        margin-bottom: 3%;
    }
</style>

<div class="row heading my-3">
<div class="text-center fs-3">Sign <b class="text-mycolor1">Up
     <i class="fa-solid fa-user"></i></b>
     <hr class="w-25 mx-auto">
     Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>

</div>
<!--heading end-->
<div class="row">
    <div class="col-sm-10 mx-auto">
        <div class="row">
            <div class="col-sm-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %} 
                 <input name="name" type="name" required placeholder="Name.." class="form-control"/>
                 <input name="email" type="email" required placeholder="Email.." class="form-control"/>
                 <input name="mob" type="Mobile" required placeholder="Mobile.." class="form-control"/>
                 <input name="passwd" type="password" required placeholder="Password.." class="form-control"/>
                 <input name="fu" type="file" required  class="form-control"/>
                
                 <textarea class="form-control"style="min-height: 80px;!important" name="address" placeholder="Address"></textarea>
                 <input type="submit" class="form-control text-light" style="background:#880e4f !important;" value="Register Now"/>
                </form>
            </div>


            <div class="col-sm-7">
            <h1 style="text-align: center; padding-top: 100px; font-weight: bold; font-size: 80px; color: black;">Beautiful<br> Sign up<br> Form</h1>

            </div>
        </div>
    </div>
</div>

{% endblock %} 