{% extends 'base.html' %}

{% load static %}

{% block content %}
 <!--services section start-->
            <div class="row services py-3">
           <p class="text-center fs-3">Our <b class="text-mycolor1">Services</b></p>
           <div class="col-sm-10 mx-auto">
            <!-- services row start-->
            <div class="row py-3">
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Expert-Led Online Courses </span><br/>
                     <span>High-quality, on-demand courses</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l1.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Live Classes & Webinars </span><br/>
                     <span>Interactive live sessions</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l2.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Personalized Learning Paths </span><br/>
                     <span>Custom learning journeys</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
             </div>
            <!-- services row end-->
             <!-- services row start-->
            <div class="row py-3">
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l3.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅  Certification & Skill Badges </span><br/>
                     <span>Earn recognized certificates</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l4.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Career Guidance & Mentorship  </span><br/>
                     <span>Access to career advice</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l5.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Quizzes, Projects & Assessments </span><br/>
                     <span>Hands-on practice </span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
             </div>
            <!-- services row end-->
             <!-- services row start-->
            <div class="row py-3">
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l6.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Mobile & Offline Access  </span><br/>
                     <span>Learn anytime, anywhere</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l7.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Corporate Training Solutions </span><br/>
                     <span>Customized learning solutions</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
              <!--card start -->
              <div class="col-sm-4">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/l8.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-9 ps-2 pt-1">
                    <span>✅ Community Support & Discussion Forums </span><br/>
                     <span>Join a vibrant learner community</span>
                  </div>
                </div>
              </div>
              </div>
              <!--card end -->
             </div>
            <!-- services row end-->
           </div>
            </div>
            <!--services section end-->
   
{% endblock %}